<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/estadisticas.css">
</head>
<body>
    <header>
        <h1>Estadísticas de Actividades</h1>
    </header>
    
    <main>
        <section>
            <h2>Resumen General</h2>
            <ul>
                <li>Total de Actividades: <span id="total-actividades">478</span></li>
                <li>Región con más eventos: <span id="region-top">Región Metropolitana de Santiago </span></li>
                <li>Temática más frecuente: <span id="tema-top">Juegos</span></li>
            </ul>
        </section>
        
        <section>
            <h2>Visualización de Datos</h2>
            <table>
                <tr>
                  <td><img src="../static/uploads/lineas.png" width="500" alt="Actividades por día"></td>
                </tr>
                <tr>
                  <td><img src="../static/uploads/torta.png" width="500" alt="Actividades por tipo"></td>
                </tr>
                <tr>
                  <td><img src="../static/uploads/barras.png" width="500" alt="Actividades por horario"></td>
                </tr>
            </table>
        </section>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Volver al Inicio</a></li>
                </ul>
            </nav>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2025 Plataforma de Actividades Recreativas</p>
    </footer>

</body>
</html>